<!-- ********************* three extra header div starts ******************** -->

<section class="fbc">
    <div class="container">
      <div class="row"> <!-- fas,fab,fa -->
        <div *ngFor="let item of fbc" class="extradiv col-lg-4 col-md-4 col-12">
          <a href="#"><i class="fa-3x fa fa-{{item.icon}}"></i></a>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </div>
  <!--  <div class="extradiv col-lg-4 col-md-4 col-12">
          <a href="#"><i class="fa-3x fa fa-trophy"></i></a>
          <h2>AWESOME DESIGN</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="extradiv col-lg-4 col-md-4 col-12">
          <a href="#"><i class="fa-3x fa fa-magic"></i></a>
          <h2>EASY TO CUSTOMIZE</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>   -->
      </div>
    </div>
  </section>
