<!-- ********************* newsletter starts ****************************** -->
  <section class="newsletter" id="newsletterdiv">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">SUBSCRIBE TO OUR NEWS LETTER</h1>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12 ">
            <div class="input-group mb-3">
            <input type="text" class="form-control newsletter-input" placeholder="Your Email">
            <div class="input-group-append">
                <span class="input-group-text">Subscribe</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
<!-- ********************* newsletter ends ****************************** -->
    